@import 'tailwindcss';
@import 'charts.css/dist/charts.css' layer(base);
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: Nunito, var(--font-sans);
}

.icon-breadcrumb {
  top: -1px;
}

.bulleted-list li:not(:last-child):after {
  padding-left: 4px;
  content: '•';
}

.uploadcare--button_primary {
  background: #3891ff;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 6rem !important;
}

.table-of-contents {
  border-bottom: 2px solid #3891ff;
}

.table-of-contents a {
  text-decoration: none !important;
}
